* {                                     /*==rgba(0,0,0,0.92)==*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-nav {
    background-color: rgba(0,0,0,0.92);
}

.header-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-decoration: none;
    font-size: 13px;
    color: silver;
}

.header-nav a:hover {
    color: white;
}

.header-nav ul {
    list-style: none;
    display: flex;
}

.header-nav li {
    position: relative;
    width: 100%;
    text-align: center;
}

.header-nav li:hover .dropdown-1>li {
    display: block;
    top: 0;
}

.dropdown-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0,0,0,0.92);
}

.dropdown-1 li {
    display: none;
    position: relative;
}

.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/Y0YM36yL/aa.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main h1 {
    text-transform: uppercase;
    color: white;
    font-size: 75px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.main-header {
    background-color: silver;
}