* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: silver;
    background: rgba(0,0,0,0.92);
    height: 40px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-decoration: none;
    font-size: 13px;
}

.header-nav a:hover {
    color: white;
}

.header-nav ul {
    list-style: none;
    display: flex;
}

.header-nav li {
    position: relative;
    width: 100%;
    text-align: center;
}

.menu-area li:hover .dropdown-1>li {
    display: block;
    top: 0;
}

.dropdown-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: orange;
}

.dropdown-1 li {
    /*display: none;*/
    position: relative;
}

.banner-area {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/Y0YM36yL/aa.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.banner-area h1 {
    text-transform: uppercase;
    color: white;
    font-size: 75px;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

