body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

a {
    margin: 1px;
    text-decoration: none;
    color: #515151;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: silver;
    height: 45px;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    height: 600px;
    
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}

ul > a {
    padding: 0 8px;
}

ul > a:hover {
    color: black; /*NAV*/
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    margin-right: 100px;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 0.8em;
}

footer p:hover {
    cursor: default;
}
 
.coding-image {
    width: 50%;
    height: 75%;
    border-style: solid;
    /*SECTION*/
}

.nav-middle {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    font-family: monospace;
}
