/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*=====================================================================================*/
/*==STOP==STOP==STOP==STOP==STOP==STOP==STOP==STOP==STOP==STOP==STOP==STOP==STOP==STOP=*/
/*=====================================================================================*/

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #515151;
    padding: 0 50px 0 50px;
}

.nav-ul {
    display: flex;
    list-style: none;
    height: auto;
}

/*==NAV LINKS==*/
.nav-ul a {
    color: silver;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.nav-ul a:hover {
    color: white;
}

/*==LOGO==*/
#nav-title a {
    color: silver;
    text-decoration: none;
    font-size: 5vw;
}

#nav-title a:hover {
    color: white;
}

/*nav {
    padding: ;
}